<?xml version="1.0"?>
<launch>
    <!-- Launches the master Arduino left arm ROS node -->
    <node pkg="rosserial_python" type="serial_node.py" name="left_arm_master">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="57600"/>
    </node>

    <!-- Launches the master Arduino left arm ROS node -->
    <node pkg="rosserial_python" type="serial_node.py" name="right_arm_master">
        <param name="port" value="/dev/ttyACM1"/>
        <param name="baud" value="57600"/>
    </node>

    <!-- Launches the key stroke publisher and a new xterm to type in -->
    <node
        pkg="teleop"
        type="teleop_joy.py"
        name="joystick_driver"
    />

    <!-- joy node for left arm -->
    <node respawn="true" pkg="joy"
        type="joy_node" name="left_arm_joy" >
        <param name="dev" type="string" value="/dev/input/js1" />
        <param name="deadzone" value="0.12" />
    </node>

    <remap from="joy" to="left_joy"/>


    <!-- joy node for righct arm -->
    <node respawn="true" pkg="joy"
        type="joy_node" name="right_arm_joy_node" >
        <param name="dev" type="string" value="/dev/input/js2" />
        <param name="deadzone" value="0.12" />
    </node>


</launch>
